<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @houseguest.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @houseguest.location %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @houseguest.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @houseguest.longitude %>
</p>

<p>
  <strong>Age:</strong>
  <%= @houseguest.age %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @houseguest.occupation %>
</p>

<p>
  <strong>Season:</strong>
  <%= @houseguest.season_id %>
</p>

<p>
  <strong>Placed:</strong>
  <%= @houseguest.placed %>
</p>

<p>
  <strong>Votes against:</strong>
  <%= @houseguest.votes_against %>
</p>

<p>
  <strong>Votes to win:</strong>
  <%= @houseguest.votes_to_win %>
</p>

<p>
  <strong>Hoh:</strong>
  <%= @houseguest.hoh %>
</p>

<p>
  <strong>Nominated:</strong>
  <%= @houseguest.nominated %>
</p>

<p>
  <strong>Veto:</strong>
  <%= @houseguest.veto %>
</p>

<p>
  <strong>Botb:</strong>
  <%= @houseguest.botb %>
</p>

<p>
  <strong>Have not:</strong>
  <%= @houseguest.have_not %>
</p>

<p>
  <strong>First day:</strong>
  <%= @houseguest.first_day %>
</p>

<p>
  <strong>Last day:</strong>
  <%= @houseguest.last_day %>
</p>

<p>
  <strong>Prizes:</strong>
  <%= @houseguest.prizes %>
</p>

<p>
  <strong>Jury:</strong>
  <%= @houseguest.jury %>
</p>

<p>
  <strong>Expelled:</strong>
  <%= @houseguest.expelled %>
</p>

<p>
  <strong>Walked:</strong>
  <%= @houseguest.walked %>
</p>

<%= link_to 'Edit', edit_houseguest_path(@houseguest) %> |
<%= link_to 'Back', houseguests_path %>
